<%- include ('partials/header'); %>
<title>404 Not Found</title>
<link rel="stylesheet" type="text/css" href="/styles/dashboard.css">
<%- include ('partials/navbar'); %>

<h1 class="dashboard page_title pt-2">404</h1>
<h1 class="dashboard page_title pt-2">Not Found</h1>

<%- include ('partials/footer'); %>