.page_title {
  text-align: center;
  font-weight: bold;
}

.page_margin {
	  margin-top: 10%;
	margin-bottom: 10%;
}

.form_layout {
  max-height: 100%;
  border: 1px solid black;
  padding: 25px;
  margin: auto;
  text-align: center;
  color: black;
  max-width: 960px;
  position: relative;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

body {
	max-width: 100%;
}